<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}To-Do Board{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='js/bundle.js') }}"
    ></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <main class="wrapper flex-grow-1">
      <!-- Content block that child templates will override -->
      {% block content %} {% endblock %}
    </main>

    <footer class="footer bg-dark text-white p-4 fixed-bottom">
      <div class="container text-center">
        <span class="text-muted"
          >© 2024 East Carolina University - To-Do Board</span
        >
      </div>
    </footer>
  </body>
</html>
