{% extends "base.html" %} {% block content %}
<div class="container mt-5 text-center">
  <h1 class="gradient-text display-3 mt-4 fw-bold">To-Do Board</h1>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-7 mt-3">
      <div class="centered-box">
        <!-- Content inside the centered box -->
        <h1 class="text-center fw-bold mt-3">LOGIN</h1>
        <p class="text-center fw-lighter">
          Please enter your email and password
        </p>
        <div class="mb-5 mt-5 px-4">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
          />
          <p class="invalid-feedback mb-0" id="email-error"></p>
          <label for="password" class="form-label mt-3">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            aria-describedby="passwordHelpBlock"
            placeholder="Password"
          />
          <p class="invalid-feedback mb-0" id="password-error"></p>
        </div>
        <div class="text-center">
          <!-- Center the button -->
          <button
            type="button"
            class="btn btn-lg btn-outline-light mt-5 mb-5 fw-semibold px-5"
            id="login-btn"
          >
            LOGIN
          </button>
        </div>
        <div class="text-center mt-5">
          <span>Don't have an account?</span>
          <a href="{{ url_for('auth_routes.register') }}" class="fw-lighter"
            >Sign Up</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
