{% extends "base.html" %} {% block content %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand small-gradient-text fw-bold" href="/todo-list"
      >To-Do Board</a
    >
    <button
      class="navbar-toggler dropdown"
      data-bs-toggle="dropdown"
      role="button"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end me-3">
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<h1 class="mt-5 fw-bold text-center">
  {{ current_user.username | title }}'s To-Do Board
</h1>
<div class="container mt-5 mb-4 me-auto">
  <div class="row d-flex align-items-end me-5 ms-5">
    <div class="col-md-4">
      <div class="input-group search-box">
        <input
          type="text"
          class="form-control"
          aria-label="Search"
          placeholder="Search..."
          id="search"
        />
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-primary fw-semibold table-container"
        data-bs-toggle="modal"
        data-bs-target="#taskModal"
      >
        Add Tasks
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="taskModal"
        tabindex="-1"
        aria-labelledby="taskModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="taskModalLabel">Add Tasks</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="taskDesc" class="form-label">Task</label>
                <textarea
                  rows="3"
                  class="form-control"
                  id="taskDesc"
                  placeholder="Description"
                  maxlength="255"
                ></textarea>
                <p class="invalid-feedback mb-0" id="taskDesc-error"></p>
              </div>

              <div class="mb-3">
                <input
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
                  id="taskCompCheck"
                />
                <label class="form-check-label" for="taskCompCheck"
                  >Completed</label
                >
              </div>

              <div class="mb-3">
                <label for="taskPrioritySel" class="form-label">Priority</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="taskPrioritySel"
                >
                  <option selected>Select a Priority</option>
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
                <p class="invalid-feedback mb-0" id="taskPrioritySel-error"></p>
              </div>

              <div class="form-check form-switch mb-3">
                <label class="form-check-label" for="taskDueDateSwitch"
                  >Due Date</label
                >
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="taskDueDateSwitch"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseDueDate"
                  aria-expanded="false"
                  aria-controls="collapseDueDate"
                />
              </div>

              <div class="collapse" id="collapseDueDate">
                <input
                  type="text"
                  class="form-control mb-3"
                  placeholder="Select a date"
                  id="taskDatePicker"
                  readonly
                />
                <p class="invalid-feedback mb-3" id="taskDatePicker-error"></p>

                <div class="input-group mb-3">
                  <label for="taskHourSel" class="input-group-text">Hour</label>
                  <select
                    class="form-select"
                    aria-label="Select Hour"
                    id="taskHourSel"
                  >
                    <option value="12" selected>12</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                  </select>
                  <label for="taskMinSel" class="input-group-text"
                    >Minute</label
                  >
                  <select
                    class="form-select"
                    aria-label="Select Minute"
                    id="taskMinSel"
                  >
                    <option value="00" selected>00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                  </select>
                  <label for="taskAmPmSel" class="input-group-text"
                    >AM/PM</label
                  >
                  <select
                    class="form-select"
                    aria-label="Select AM/PM"
                    id="taskAmPmSel"
                  >
                    <option value="AM" selected>AM</option>
                    <option value="PM">PM</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" id="taskBtn">
                Add Task
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container table-container">
  <table class="table table-striped table-hover table-bordered mt-3">
    <thead class="text-center">
      <tr>
        <th class="task-fixed-width">Task</th>
        <th>Priority</th>
        <th class="date-fixed-width">Due Date</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="text-center table-group-divider" id="tablebody">
      {% for todo in user_todos %}
      <tr id="row{{todo.id}}" class="align-middle">
        <td>
          <textarea
            class="form-control col-md-8"
            id="taskTextArea{{todo.id}}"
            rows="3"
            maxlength="255"
            disabled
          >
{{todo.task}}</textarea
          >
        </td>
        {% set priority_class = '' %} {% if todo.priority == 'low' %} {% set
        priority_class = 'table-primary' %} {% elif todo.priority == 'medium' %}
        {% set priority_class = 'table-secondary' %} {% elif todo.priority ==
        'high' %} {% set priority_class = 'table-danger' %} {% endif %}
        <td class="text-capitalize fw-semibold {{ priority_class }} text-white">
          {{ todo.priority }}
        </td>
        <td>{{ todo.due_date }}</td>
        <td>{{ "Yes" if todo.completed else "No" }}</td>
        <td>
          <!-- Add action buttons here -->
          {% if not todo.completed %}
          <button
            class="btn btn-success btn-sm"
            data-todo-id="{{ todo.id }}"
            id="completeTask{{todo.id}}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
              />
            </svg>
          </button>
          <button
            class="btn btn-primary btn-sm"
            data-todo-id="{{ todo.id }}"
            id="editTask{{todo.id}}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pen"
              viewBox="0 0 16 16"
            >
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
              />
            </svg>
          </button>
          {% endif %}
          <button
            class="btn btn-danger btn-sm"
            data-todo-id="{{ todo.id }}"
            id="deleteTask{{todo.id}}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
              />
            </svg>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
